.table {
  min-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
}
.head {
  background-color: rgb(70, 70, 70);
  color: aliceblue;
  text-align: center;
}
.headCell {
  border: 1px solid black;
  padding: 8px;
  width: calc(100% / 3);
  font-size: 18px;
  font-weight: 600;
}

.row {
  text-align: center;
  font-size: 16px;
}
.row:nth-child(even) {
  background-color: rgb(201, 201, 201);
}
.cell {
  padding: 8px;
  border: 1px solid black;
}
.cell:nth-child(1) {
  text-transform: capitalize;
}
